In [1]:
!pip install pandas scikit-learn numpy

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: scikit-learn in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (1.7.2)
Requirement already satisfied: numpy in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
careers_df=pd.read_csv("careers_dataset (3).csv")
skills_df=pd.read_csv("skills_mapping (4).csv")
careers_df.head(),skills_df.head()

(                 Career  Python  Java  C++  SQL  HTML/CSS  JavaScript  React  \
 0       Product Manager       4     5    3    5         5           2      3
 1  Blockchain Developer       5     4    1    1         3           3      2
 2      Business Analyst       4     2    2    1         2           5      2
 3       Cloud Architect       5     2    2    4         2           2      4
 4     Software Engineer       1     1    1    4         3           3      1

    Node.js  TensorFlow  ...  Data Visualization  Cybersecurity  AWS  Azure  \
 0        3           3  ...                   4              3    5      2
 1        4           4  ...                   4              4    1      3
 2        4           4  ...                   4              5    3      1
 3        4           1  ...                   5              2    5      2
 4        3           3  ...                   3              5    2      2

    Docker  Kubernetes  UI/UX Design  Figma  Problem Solving  Communication
 0       4           2             4      5                1              4
 1       5           3             5      1                2              4
 2       4           2             4      2                2              4
 3       1           4             4      4                5              1
 4       1           4             1      4                2              1

 [5 rows x 21 columns],
               Career Required_Skill  Importance_Level
 0  Software Engineer         Python                 5
 1  Software Engineer  Communication                 5
 2  Software Engineer          Azure                 3
 3  Software Engineer         Docker                 4
 4     Data Scientist            SQL                 3)

In [3]:
# Step 1: Check dataset info
careers_df.info()

# Step 2: Check for missing values
careers_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Career              3000 non-null   object
 1   Python              3000 non-null   int64
 2   Java                3000 non-null   int64
 3   C++                 3000 non-null   int64
 4   SQL                 3000 non-null   int64
 5   HTML/CSS            3000 non-null   int64
 6   JavaScript          3000 non-null   int64
 7   React               3000 non-null   int64
 8   Node.js             3000 non-null   int64
 9   TensorFlow          3000 non-null   int64
 10  Machine Learning    3000 non-null   int64
 11  Data Visualization  3000 non-null   int64
 12  Cybersecurity       3000 non-null   int64
 13  AWS                 3000 non-null   int64
 14  Azure               3000 non-null   int64
 15  Docker              3000 non-null   int64
 16  Kubernetes          3000 non-null   int64
 17  UI/UX Design        3000 non-null   int64
 18  Figma               3000 non-null   int64
 19  Problem Solving     3000 non-null   int64
 20  Communication       3000 non-null   int64
dtypes: int64(20), object(1)
memory usage: 492.3+ KB

Career                0
Python                0
Java                  0
C++                   0
SQL                   0
HTML/CSS              0
JavaScript            0
React                 0
Node.js               0
TensorFlow            0
Machine Learning      0
Data Visualization    0
Cybersecurity         0
AWS                   0
Azure                 0
Docker                0
Kubernetes            0
UI/UX Design          0
Figma                 0
Problem Solving       0
Communication         0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
careers_df['career_label'] = label_encoder.fit_transform(careers_df['Career'])

careers_df.head()

careers_df.head()

,Career,Python,Java,C++,SQL,HTML/CSS,JavaScript,React,Node.js,TensorFlow,...,Cybersecurity,AWS,Azure,Docker,Kubernetes,UI/UX Design,Figma,Problem Solving,Communication,career_label
0,Product Manager,4,5,3,5,5,2,3,3,3,...,3,5,2,4,2,4,5,1,4,9
1,Blockchain Developer,5,4,1,1,3,3,2,4,4,...,4,1,3,5,3,5,1,2,4,0
2,Business Analyst,4,2,2,1,2,5,2,4,4,...,5,3,1,4,2,4,2,2,4,1
3,Cloud Architect,5,2,2,4,2,2,4,4,1,...,2,5,2,1,4,4,4,5,1,2
4,Software Engineer,1,1,1,4,3,3,1,3,3,...,5,2,2,1,4,1,4,2,1,10

In [5]:
print(careers_df.columns)

Index(['Career', 'Python', 'Java', 'C++', 'SQL', 'HTML/CSS', 'JavaScript',
       'React', 'Node.js', 'TensorFlow', 'Machine Learning',
       'Data Visualization', 'Cybersecurity', 'AWS', 'Azure', 'Docker',
       'Kubernetes', 'UI/UX Design', 'Figma', 'Problem Solving',
       'Communication', 'career_label'],
      dtype='object')

In [6]:
# Features (skill columns) = everything except 'Career' and 'career_label'
X = careers_df.drop(['Career', 'career_label'], axis=1)

# Target (what we want to predict)
y = careers_df['career_label']

In [7]:
# Keep only the most relevant skill columns
important_columns = ['Python', 'Java', 'C++', 'SQL', 'Machine Learning', 'Data Visualization', 'Problem Solving', 'Communication']

# Filter dataset
X = careers_df[important_columns]

y = careers_df['career_label']

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)

print("✅ Model trained with selected important skills")

✅ Model trained with selected important skills

In [9]:
# Function to predict career from skills
def predict_career(input_skills):
    # Create a template row of zeros
    input_vector = [0] * len(X.columns)
    
    # Mark skills present in user input as 1
    for skill in input_skills:
        if skill in X.columns:
            input_vector[X.columns.get_loc(skill)] = 1
    
    # Reshape for prediction
    input_vector = [input_vector]
    
    # Predict the career
    prediction = model.predict(input_vector)
    return prediction[0]

# Test the function
test_skills = ["Python", "Machine Learning", "Communication"]
print("Predicted Career:", predict_career(test_skills))

Predicted Career: 8

c:\Users\DELL\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [10]:
def predict_career(input_skills):
    input_vector = [0] * len(X.columns)

    for skill in input_skills:
        if skill in X.columns:
            input_vector[X.columns.get_loc(skill)] = 1

    input_vector = [input_vector]

    pred_label = model.predict(input_vector)[0]
    pred_career = label_encoder.inverse_transform([pred_label])[0]

    return pred_career

print("Predicted Career:", predict_career(["Python", "Communication", "Problem Solving"]))

Predicted Career: Mobile App Developer

c:\Users\DELL\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [11]:
import joblib

# Save trained model
joblib.dump(model, "career_model.pkl")

# Save label encoder
joblib.dump(label_encoder, "label_encoder.pkl")

print("✅ Model and Label Encoder Saved Successfully!")

✅ Model and Label Encoder Saved Successfully!